body{
    background-color: #24bfe6;
}

.HeadingMain{
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: rgb(182, 248, 156);
    font-family: Lato;
}

.ItalicUnder{
    font-family: Lato;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: rgb(182, 248, 156);
}

.disclaimer{
    font-family: Lato;
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: rgb(230, 28, 28);
}

div.feature{
    font-family: Lato;
    text-align: center;
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: rgb(255, 255, 255);
}

.btnBack {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    }
    
    .btnBack {color: rgb(255, 255, 255);}
    
    .btnBack {background: rgb(55, 78, 82);}

@media screen and (max-width: 800px){
    .HeadingMain{
        top:35%;
        font-size:10vw;
    }
    
    .ItalicUnder{
        font-size:5vw;
        top:42%;
    }

    .disclaimer{
        font-size: 6vw;
    }

    div.feature{
        top:60%;
        font-size: 4vw;
    }

    body{
        text-align: center;
    }
}